/* select2 doit être importé avant : adminlte.css */
@import 'select2';
@import 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css';


@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import 'admin-lte/plugins/jqvmap/jqvmap.min.css';


@import 'admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
@import 'admin-lte/plugins/daterangepicker/daterangepicker.css';
@import 'admin-lte/plugins/summernote/summernote-bs4.min.css';

@import './font-adminlte/fonts.css';
@import 'admin-lte';

@import './loading-spin';


 
/* Card - HasMany Edition */
.btn-card-header{
    margin-right: 5px;
}
.card .nav-tabs {
    border-bottom: 0px !important;
}

/* Summernote  */

.richText_is_invalid{
    border-color: #dc3545 !important;;
    padding-right: 2.25rem !important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* CRUD */

.filter-icon {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
}

.crud-title h1 {
    font-size: 1.5rem;        /* Taille réduite */
    font-weight: 600;         /* Texte en gras */
    display: flex;
    align-items: center;
    gap: 5px;                 /* Espace entre l'icône et le texte */
}



.filter-bar {
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filter-bar .form-control {
    border-radius: 0.25rem;
}


.sortable {
    cursor: pointer;
    user-select: none;
}
.sortable:after {
    content: '\f0dc'; /* FontAwesome icon for sort */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
    font-size: 0.9rem;
    color: #6c757d;
}
.sortable.asc:after {
    content: '\f160'; /* FontAwesome icon for sort-up */
}
.sortable.desc:after {
    content: '\f161'; /* FontAwesome icon for sort-down */
}


/* Formulaire */

/* Réduire les marges et paddings pour rendre le formulaire compact */
.custom-form .form-group {
    margin-bottom: 0.5rem !important; /* Réduit l'espace entre les groupes */
}

.custom-form .form-label {
    margin-bottom: 0.25rem !important; /* Réduit l'espace sous les labels */
    font-size: 0.9rem !important; /* Réduit la taille des labels */
}

.custom-form .form-control {
    padding: 0.4rem 0.5rem !important; /* Réduit les paddings internes des inputs */
    font-size: 0.9rem !important; /* Réduit la taille du texte des inputs */
    height: auto !important; /* Ajuste la hauteur des champs */
}

 


/* Responsiveness */
@media (max-width: 576px) {
    .modal-dialog {
        max-width: 95%; /* Ajustement sur mobile */
    }
    .modal-content {
        padding: 0.5rem;
    }
}


/* Rédsuction  */

.full-screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important; /* Assure que le modal occupe toute la largeur */
    max-width:55% !important; /* Supprime toute limite de largeur */
    height: 100% !important; /* Prend toute la hauteur */
    margin : 0;
    margin-left: 250px; /* Supprime les marges */
    padding: 0; /* Supprime les paddings */
    border-radius: 0; /* Supprime les coins arrondis */
   
}
        .full-screen-modal .modal-content {
            height: 100%; /* Remplit la hauteur */
            display: flex;
            flex-direction: column; /* Organisation verticale */
        }
        .full-screen-modal .modal-body {
            flex: 1; /* Permet au contenu du corps de prendre l'espace disponible */
            overflow-y: auto; /* Ajoute un défilement si le contenu dépasse */
        }

